@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&family=Kristi&family=Poppins:ital,wght@0,300;0,400;0,600;1,300&display=swap');

:root {
  --black: #2E1002;
  --brown: #7A4B34;
  --light-brown: #A88676;
  --neutral: #FCF8F7;
  --dark-neutral: #F7EFED;
  --grey: #F7F7F7;
  --purple: #E9D5E9;
  --blue: #D5E8E9;
  --green: #D7E9D5;
  --frshly-orange: #F56B2C;
  --clamp-yellow: #F2A900;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: var(--neutral);
  color: var(--black);
  font-family: 'Jost', sans-serif;
  font-size: 1.4rem;
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 20px;  
  max-width: 1320px;
  margin: 0;
  padding: 0 20px;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header_nav__right__QShDA nav ul {
  justify-content: flex-end;
}
.form {
  display: flex;
  flex-direction: column;
}
input,
select,
textarea {
  background-color: var(--neutral);
  border: 1px solid var(--light-brown);
  border-radius: 30px;
  font-family: inherit;
  margin-bottom: 20px;
  padding: 20px;
}
input::placeholder,
select::placeholder,
textarea::placeholder {
  color: var(--dark-grey);
}
textarea {
  resize: none;
}
.btn {
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 600;
  margin-bottom: 20px;
  padding: 20px;
}
.btn:disabled {
  cursor: initial;
}
.btn__primary {
  background-color: var(--black);
  border-color: var(--black);
  color: var(--neutral);
  transition: .5s all ease;
}
.btn__primary:hover {
  background-color: var(--frshly-orange);
  border-color: var(--frshly-orange);
}
.btn__primary:disabled {
  background-color: var(--dark-grey);
  border-color: var(--dark-grey);
}
.btn__secondary {
  border: 1px solid var(--black);
  color: var(--black);
  transition: .5s all ease;
}
.btn__secondary:hover {
  background-color: var(--black);
  color: var(--neutral);
}
.btn__pill {
  padding: 5px 20px;
}
#login__form,
.register__personal-details,
.register__career-details,
.register__network-details {
    display: flex;
    flex-direction: column;
}

.content-right {
  grid-column:  4 /span 9;
}
.show {
  display: block !important;
}
.show-grid {
  display: grid !important;
}
@media only screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: 100%;
  }
}