.brands {
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 6;
    justify-content: center;
    margin-bottom: 40px;
}
.brands__title {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    text-align: center;
    margin: 0 0 20px;
}
.brands__images {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.brands__images img {
    mix-blend-mode: multiply;
    opacity: 0.6;
}
@media screen and (min-width: 768px) {
    .brands {
        grid-column: 1 / span 12;
        margin-bottom: 80px;
    }
    .brands__title {
        font-size: 2rem;
        line-height: 3rem;
        margin: 0 0 20px;
    }
    .brands__images {
        flex-direction: row;
        gap: 100px;
    }
}