@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Rock+Salt&display=swap');

.teamMembers {
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 6;
    margin-bottom: 60px;
}
.teamMember {
    grid-column: span 3;
    text-align: center;
}
.signature {
    margin: 0;
}
.teamMember:nth-child(1) .signature {
    font-family: 'Rock Salt';
    font-size: 3.5rem;
    line-height: 5rem;
}
.teamMember:nth-child(2) .signature {
    font-family: 'Caveat';
    font-size: 5rem;
}
.name {
    font-size: 1.4rem;
    margin: 0;
}
.role {
    color: var(--light-brown);
    margin-top: 0;
}
@media only screen and (min-width: 768px) {
    .teamMembers {
        flex-direction: row;
        grid-column: 1 / span 12;
        justify-content: space-evenly;
    }

    .teamMember {
        grid-column: span 4;
    }
}