.heading {
    background-color: var(--blue);
    color: var(--black);
    margin-bottom: 30px;
    padding: 20px 0 30px;
}
.homeheading {
    background-color:var(--neutral);
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }    
.pagemeta {
    grid-area: 1 / 1 / 1 / span 6
}
.pagetitle {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 20px 5px;
    z-index: 2;
}
.pageParent {
    color: var(--black);
    font-weight: 600;
    text-decoration: none;
}
.pagetagline {
    display: flex;
    gap: 5px;
}
.pagetagline h2 {
    color: var(--black);;
    font-family: 'Porker';
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 3.2rem;
    margin: 0 0 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.pagetagline h2 b {
    font-size: 1em;
    font-weight: 400;
}
.pagetagline h2 b:nth-child(1) {
    color: var(--pink);
}
.pagetagline h2 b:nth-child(2) {
    color: var(--yellow);
}
.pagetagline h2::after {
    content: '';
    background-image: url(https://images.ctfassets.net/xa1los3yndi8/6jpJmMtpChAqxnlTeMBL7y/e535ea98459666ad6bb12b9ca3b61d03/together.svg);
    background-repeat: no-repeat;
    width: 241px;
    height: 107px;
    display: inline-block;
    position: relative;
    left: 8px;
    top: 35px;
    line-height: 0;
    margin-top: -50px;
}
.pagedesc, .homeimg {
    grid-column: 1 / span 6;
    align-self: center;
}
.homedesc p {
    color: var(--black);
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .heading {
        margin-bottom: 60px;
    }
    .pagetagline h2 {
        font-size: 6.2rem;
        line-height: 7.4rem;
        margin: 0;
        z-index: 1;
    }
    .heading {
        padding: 40px 40px 60px;
    }
    .homemeta,
    .homedesc {
        grid-column: 4 / span 6;
    }
    .homeheading {
        padding: 80px 0;
        margin-bottom: 0;
    }
    .homemeta {
        grid-row: 2;
    }
    .homedesc {
        grid-row: 3;
    }
    .pagedesc {
        grid-column: 7 / span 6;
    }
}