.homeHeading {
    background-color: var(--frshly-orange);
    margin-top: -80px;
    padding: 120px 0 200px;
}

.heading {
    background-color: var(--frshly-orange);
    border-radius: 20px;
    grid-column: span 6;
    margin-bottom: 60px;
    padding: 30px 0;
}

.homeContent {
    grid-area: 2 / 1 / 2 / span 6;
}

.pageMeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1 / span 6;
}

.pageMeta span,
.pageMeta span a {
    color: var(--neutral);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.pageMeta span a {
    font-weight: 600;
    text-decoration: none;
}

.pageTagline > * {
    display: inline-block;
}

.pageTitle h2,
.pageTagline h2 {
    color: var(--neutral);
    font-size: 4rem;
    font-weight: 500;
    line-height: 4rem;
    margin: 0;
}
.homeHeading .pageTitle h2,
.homeHeading .pageTagline h2 {
    margin: 20px 0;
}
.pageTitle h2 b,
.pageTagline h2 b {
    color: var(--light-yellow);
    font-family: 'Kristi';
    font-size: 5.5rem;
    font-weight: 400;
    position: relative;
}

.pageTitle h2 b::after {
    content: '';
    background-image: url(https://images.ctfassets.net/xa1los3yndi8/20HVH29wrODIhsaLR4QjO6/fd852d69294e8de27d05c23814f53a3b/title-underline.svg);
    background-repeat: no-repeat;
    width: 160px;
    height: 23px;
    position: absolute;
    right: 20px;
    bottom: 7px;
}

.pageTitle p {
    margin: 0;
}

.pageDescription {
    align-items: center;
    color: var(--neutral);
    display: flex;
    grid-column: span 6;
}

.pageDescription p {
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .heading {
        grid-column: span 12;
        padding: 40px 60px;
    }

    .homeHeading {
        margin: -83px 0 30px;
        padding: 183px 0 200px;
    }
    
    .homeContent {
        grid-column: span 10;
    }

    .pageTitle h2 {
        color: var(--neutral);
        font-size: 4.8rem;
        line-height: 5.2rem;
        margin: 20px 0 60px;
    }
    .pageTitle h2 b {
        font-size: 7rem;
    }

    .pageTitle h2 b::after {
        bottom: 0;
        right: 0;
    }

    .pageDescription p {
        margin-top: 0;
    }
}
