.nav__list {
    align-self: center;
    display: none;
    gap: 20px;
    grid-row: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav__list:first-of-type {
    grid-column: 1 / span 5;
}
.nav__list:last-of-type {
    grid-column: span 4;
    justify-self: end;
}
.nav__item a {
    color: var(--frshly-orange);
    font-size: 1.8rem;
    text-decoration: none;
    transition: 1.5s color ease;
}
.nav__list:hover a {
    color: var(--light-brown);
}
.nav__item a:hover {
    color: var(--frshly-orange);
}
.nav__homeItem a {
    color: var(--frshly-orange);
}
.loginLinks {
    border: 1px solid var(--frshly-orange);
    border-radius: 20px;
    display: none;
    padding: 5px 28px;
    margin-bottom: 0;
    transition: .5s all ease;
}
.loginLinks:nth-child(odd) {
    background-color: var(--frshly-orange);
}
.loginLinks:nth-child(odd) a {
    color: var(--neutral);
}
.loginLinks:nth-child(even) a {
    color: var(--frshly-orange);
}
.loginLinks:nth-child(odd):hover {
    background-color: var(--clamp-yellow);
    border: 1px solid var(--clamp-yellow);
}
.loginLinks:nth-child(even):hover {
    border: 1px solid var(--brown);
}
.loginLinks:nth-child(odd):hover a,
.loginLinks:nth-child(even):hover a {
    color: var(--brown);
}
.show {
    display: block;
}
@media screen and (min-width: 768px) {
    .nav__list {
        display: flex;
    }
    .nav__item a {
        font-size: 1.4rem;
    }
    .nav__homeItem a {
        color: var(--neutral);
    }
}