.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.modalContent {
     background-color: var(--dark-neutral);
     padding: 20px;
     width: 80vw;
}

.modalClose{
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .modalContent {
        width: 50vw;
    }
}