.resources {
    display: grid;
    grid-column: span 9;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.resource {
    background-color: var(--dark-neutral);
    border-radius: 12px;
    display: none;
    max-height: 325px;
    overflow: hidden;
}
.resource__show {
    display: block;
}
.resource:hover {
    transform: scale(1.025);
    transition: .5s all ease;
}
.resource__img {
    height: 150px;
    overflow: hidden;
}
.resource__img img {
    object-fit: cover;
}
.resource__body {
    padding: 20px;
}
.resource__title {
    font-family: 'Poppins';
    font-size: 1.7rem;
    margin: 0 0 5px;
}
.resource__url {
    color: var(--brown);
    font-family: 'Poppins';
    transition: .5s all ease;
}
.resource__url:hover {
    color: var(--black);
}
.resource:hover .resource__url {
    color: var(--frshly-orange);
}
.resource:hover .resource__url:hover {
    color: var(--brown);
}