.resources {
    display: grid;
    grid-column: span 6;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.resource {
    background-color: var(--dark-neutral);
    border-radius: 12px;
    display: none;
    overflow: hidden;
}
.resource__show {
    display: block;
}
.resource:hover {
    transform: scale(1.025);
    transition: .5s all ease;
}
.resource__img {
    height: 100px;
    overflow: hidden;
}
.resource__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.resource__body {
    padding: 15px;
}
.resource__body p {
    margin: 0 0 10px;
}
.resource__title {
    font-family: 'Poppins';
    font-size: 1.4rem;
    margin: 0 0 5px;
}
.resource__url {
    color: var(--brown);
    font-family: 'Poppins';
    transition: .5s all ease;
}
.resource__url:hover {
    color: var(--black);
}
.resource:hover .resource__url {
    color: var(--frshly-orange);
}
.resource:hover .resource__url:hover {
    color: var(--brown);
}
@media only screen and (min-width: 768px) {
    .resources {
        grid-template-columns: repeat(3, 1fr);
        grid-column: span 9;
    }
    .resource__img {
        height: 150px;
    }
    .resource__body {
        padding: 20px;
    }
    .resource__title {
        font-size: 1.7rem;
    }
}