.sectionHeading {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    grid-column: span 6;
    margin-bottom: 20px;
    text-align: center;
}

.sectionHeading__fullWidth {

}

.sectionHeading__h3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    margin: 0 0 5px;
}

.sectionHeading__description {
    color: var(--brown);
    font-size: 1.4rem;
    line-height: 2rem;
}

.sectionHeading__description,
.sectionHeading__ctaLink {
    margin: 0;
}

.sectionHeading__ctaLink {
    white-space: nowrap;
}

@media screen and (min-width: 768px) {
    .sectionHeading {
        flex-direction: row;
        gap: 20px;
        grid-column: span 12;
        justify-content: space-between;
        text-align: left;
    }
}
