.supporttabs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: span 6;
    margin-bottom: 20px;
}
.supporttab {
    background-color: var(--dark-neutral);
    color: var(--black);
    border-radius: 8px;
    border: 0;
    flex: 1 1 0px;
    margin-bottom: 20px;
    padding: 45px 40px;
    text-align: center;
    text-decoration: none;
    transition: .5s all ease;
}
.supporttab:hover {
    background-color: var(--frshly-orange);
    color: var(--neutral);
}
.title {
    font-family: 'Poppins';
    font-weight: 600;
}
@media only screen and (min-width: 768px) {
    .supporttabs {
        display: flex;
        flex-direction: row;
        gap: 20px;
        grid-column: span 12;
        margin-bottom: 60px;
    }
    .supporttab {
        grid-column: span 4;
        margin-bottom: 0;
    }
}