.header {
    padding-top: 10px;
    position: sticky;
    top: 0;
    z-index: 2;
}
.nav {
    padding: 20px 40px;
}
.logo {
    align-self: center;
    grid-column: 1 / span 4;
    grid-row: 1;
    justify-self: start;
}
@media screen and (min-width: 768px) {

    .logo {
        grid-column: 5 / span 4;
        justify-self: center;
    }
}