.nav {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.progress {
    background-color: var(--dark-neutral);
    border-radius: 8px;
    height: 5px;
    margin-bottom: 20px;
}
.progress__bar {
    background-color: var(--frshly-orange);
    border-radius: 8px;
    height: 100%;
    transition: 1s width ease;
}