.announcement {
    background-color: var(--orange-alt);
    border: 1px solid var(--orange-alt-1);
    border-radius: 12px;
    grid-area: 1 / 1 / 1 / span 6;
    padding: 10px 15px;
    width: fit-content;
}

.title {
    color: var(--neutral);
    font-size: 1.4rem;
    line-height: 1.2rem;
}

.title strong {
    font-weight: 700;
}

.link {
    color: var(--neutral);
    font-size: 1.4rem;
    line-height: 1.2rem;
}

@media only screen and (min-width: 768px) {
    .announcement {
        grid-column: span 5;
        padding: 10px 20px;
    }
}